

.nav{
    position: fixed;
    top:0;
    width:100%;
    height:20px;
    padding: 20px;
    justify-content: space-between;
    background-color: black;
    display: flex;
}



.logo{
    position: fixed ;
    left:20px;
    width:110px;

}

.ava{
    position: fixed;
    right:20px;
    width:30px;
    
}